<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}PyFlaSQL{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <!-- Main Title -->
    <h1 class="text-center">About PyFlaSQL!</h1>
    <div class="container p-5 my-5 border">
        <!-- Description -->
        <p class="lead">
            PyFlaSQL (Python - Flask - SQLite) is built using a combination of modern web technologies.
        </p>
                
        <p class="lead">
            PyFlaSQL uses HTML, the standard markup language for creating web pages, along with the popular
            Bootstrap CSS framework to create a responsive and visually appealing user interface.
        </p>
        <p class="lead">
            On the server-side, PyFlaSQL uses Python, a versatile and powerful programming language, along with Flask, a
            lightweight web framework, to build the backend logic and handle dynamic content generation. For data
            storage, PyFlaSQL employs SQLite, a lightweight and serverless relational database management system, to store
            and manage data efficiently.
        </p>

    </div>

</div>
{% endblock %}

