<!-- 
This file is part of PyFlaSQL.
Original author: Raphael Viera (raphael.viera@emse.fr)
License: check the LICENSE file.
-->
{% extends "base.html" %}
{% block title %}PyFlaSQL{% endblock %}
{% block content %}
<div class="container p-5 my-5">
    <!-- Main Title -->
    <h1 class="text-center">User Profile</h1>
    <div class="container p-5 my-5 border">
        <!-- Description -->
        <p class="lead">
            To be implemented!
        </p>

        <p class="lead">
            Username: {{username}}
        </p>
                
        <p class="lead">
            name: {{name}}
        </p>

        <p class="lead">
            E-mail: {{email}}
        </p>

        <p class="lead">
            <a href="#">Modify Password</a>
        </p>

    </div>

</div>
{% endblock %}

